.verticalNavbar{
    height: 100vh;
    position: absolute;
    top:0;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #222;
}


.verticalNavbar__afterElement {
    content: "";
    position: absolute;
    height: calc(100% - 100px);
    width: 0.5rem;
    border-radius: 38px;
    background: #222;
    right: -2rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
.moon-light{
display: flex;
justify-content: space-between;
align-items: center !important;
flex-direction: column;
padding: 17px 9px;
gap: 10px;
background-color:var(--switcher-color-in-dark-node);
border-radius:60px;
 position: relative;
 bottom:2.5rem;
 left: .5rem;
 cursor: pointer;
 height:8rem;
}
.Game-two{
    position: relative;
    left:.5rem;
    top:0.5rem;

}
.icons img{
    margin-top:3.2rem;
    cursor: pointer;
    position: relative;
    left:.5rem;
    top:0.5rem;
}
.icons img:nth-child(3){
    position: relative;
    right:-.3rem;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.imger{
    width:35px;
    height:35px;
}
.logout_btn{
    color:#ddd !important;
    background-color: rgb(252, 252, 252);
    padding:10px;
    position:relative;
    border-radius:40%;
    font-size: large!important ;
    left:.5rem;
}