.cards-one-container {
    position: relative;
    top: 1rem;
    display: flex;
    width: 1500px;
    height: 450px;
    overflow-x: hidden;
    cursor: grabbing;

}


.cards-father{
    background-color: red;
    width: 600px;
    margin-left: 6px;
    border-radius: 50px;
    height: 310px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.card-1{
    background:url("../../../../public/assets/images/MadOfWar/ofWars.png");
    width:616;
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-position: center;
    overflow: hidden;

    
}
.card-1 img:nth-child(1){
    position:absolute;
   background-position: center;
   background-size:cover;
   top:-9rem;
   right:-10rem;
}

.card-2 h3{
position: absolute;
bottom:1rem;
right:2rem;
color: #FFF;
text-align: right;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.card-2:hover img {
    transform: scale(1.2);
    transition: .4s ease-in-out all;
}
.card-1 p {
color: #D8D8D8;
text-align: right;
font-size: 23px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
bottom:1rem;
right: 1.5rem;
width: 426px;
}
 
.card-1 img:nth-child(2){
    position: absolute;
    transition: .2s ease-in-out all;
}
.card-1:hover img:nth-child(2){
    transform: scale(1.1);
}
.card-2{
    background:url("../../../../public/assets/images/spider-super.png");
    width:616;
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: .4s ease-in-out all;
    overflow: hidden;
}


.card-2 h3{
    position: absolute;
     bottom:1rem;
     right:2rem;
     color: #FFF;
text-align: right;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
     }

.card-2:hover img {
    transition: .4s ease-in all;
}

.card-3{
    background:url("../../../../public/assets/images/SpiderMan/spider.png");
    width:616;
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}
.card-3 img{
    position: absolute;
    overflow: hidden;
}
.card-3 img:nth-child(1){
    top:2rem;
    left:-5rem;
    width:30rem;

}
.card-3 img:nth-child(2){
    top:-4.5rem;
    right:0rem;
    width:20rem;
    transition: .5s ease-in-out all;


}
.card-3:hover img:nth-child(2){
    transform: scale(1.2);
    transition: .5s ease-in-out all;
}
.card-3 h3{
    position: absolute;
    bottom:1rem;
    left:1.5rem;
    line-height: 1.4;
}
